{
    "extends": "eslint-config-airbnb",
    "rules": {
        "strict": 0,          // http://eslint.org/docs/rules/strict
        "indent": [2, 4],                // http://eslint.org/docs/rules/
        "func-names": 0,                 // http://eslint.org/docs/rules/func-names
        "new-cap": [0, {                 // http://eslint.org/docs/rules/new-cap
          "newIsCap": true
        }],
        "comma-dangle": [2, "never"],    // http://eslint.org/docs/rules/comma-dangle
        "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}], // http://eslint.org/docs/rules/space-before-function-paren
    }
}
